/* Qingyue Zhu global css */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 18px;
  font-family: 'Roboto';
}

.nav-bar {
  margin: 27px 31px;
  background-color: #f2f2f2;
}

button {
  width: 240px;
  height: 60px;
  background-color: #457B9D;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.center-button {
  text-align: center;
  margin-top: 25px;
}

.right-button {
  text-align: right;
  margin: 35px 168px 40px 0px;
}

.title {
  margin-bottom: 13px;
  color: #1D3557;
  font-size: 76px;
  text-align: center;
}

.icon {
  text-align: center;
}