.AudioPlayer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 1rem 2rem;
    background-color: #f1f1f1;
}

.AudioPlayer .Controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #457B9D;
    font-size: 1.6rem;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;
    }
}

.AudioPlayer .Controls .Playback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
}

.AudioPlayer .Controls .Playback .PlaybackControl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
}

.AudioPlayer .Controls button {
    background: #457B9D;
    color: #ffffff;
    font-size: 1.6rem;
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    width: 3.5rem; /* added width */
    height: 3.5rem; /* added height */

    &:hover {
        transition: all 0.2s ease-in-out;
        background: #ffffff;
        color: #457B9D;
    } 

    @media screen and (max-width: 768px) {
        padding: 0.8rem;
        font-size: 1.2rem;
        width: 2.5rem; /* added width */
        height: 2.5rem; /* added height */
    }
}

.SpeedControl {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.VolumeControl {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: transparent;
    outline: none;
    display: flex;
    align-items: center;
}

input[type=range]::-webkit-slider-runnable-track {
    overflow: hidden;
    height: 0.7rem;
    background-color: #ddd;
    border-radius: 0.25rem;
    outline: none;
    
    @media screen and (max-width: 768px) {
        height: 0.5rem;
    }
        
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:0.7rem;
    height: 0.7rem;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow:  -2px 1px 20px #000000, calc(-100vw - 7px) 0 0 100vw #457B9D;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        height: 0.5rem;
    }
}

input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.4); /* added hover animation */
}
